* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Raleway" Raleway; */
  /* font-size: 19px; */
}
.width {
  height: 100%;
  width: 100%;
}
body {
  background: #f5f6fa;
}
.twenty {
  width: 15%;
}
.eighty {
  width: 85%;
  height: 100vh;
}
.wrapper .sidebar {
  background: rgb(5, 68, 104);

  width: 100%;
  height: 100vh;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

/* .wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7bd1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
} */
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: red;
}
.wrapper .sidebar ul > li:visited {
  background-color: red;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}
.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}
.wrapper .section .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  /* font-family: "Raleway"; */
  font-style: normal;
  padding: 0px;
  margin: 0px, 20px;
  align-items: center;
}

.navbar a {
  list-style: none;
  text-decoration: none;
  color: #000000;
  /* font-family: "Raleway"; */
  font-style: normal;
  justify-content: space-evenly;
  margin: 1px;
}
.navbar a:hover {
  color: #462255;
  border-bottom: 2px solid #462255;
  border-top: 2px solid #462255;
}
.wrapper .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}

body.active .wrapper .sidebar {
  left: -225px;
}
body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}

.list li {
  list-style: none;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list li {
  margin-left: 48px;
}
.btn {
  margin-left: 24px;
  padding: 10px;
  background-color: #462255;
  border: 2px;
  border-radius: 5%;
}
.btn a {
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  list-style: none;
  /* font-family: "Raleway"; */
}
.search {
  padding: 11px;
  background-color: white;
  outline: none;
  border-radius: 10px;
  border-color: hsl(0, 14%, 8%);
  align-items: center;
  /* font-family: "Raleway"; */
  font-style: normal;
}
.logout {
  width: 100%;
  margin-top: 5px;
  /* border: 2px solid red; */
  height: 5%;
  display: flex;
  justify-content: end;
  align-items: baseline;
  /* margin-right: 10px; */
}
.logoutIcon {
  margin-right: 15px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  /* border: 2px solid blue; */
  width: 45px;
  border-radius: 50%;
  background-color: #e7ebef;
  /* outline: none; */
}
button {
  border: none;
}
.logoutIcon:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}
.fullLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullLoader .pl {
  height: 400px;
}
.width .eighty {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.boxes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 85%;
}
.entire {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}
.padds {
  display: flex;
  flex-direction: row;
  padding: 8px;
  /* border: 2px solid blue; */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.separateboxes {
  height: 95%;
  width: 45%;
  /* border: 2px solid green; */
  /* From https://css.glass */
  background: rgba(195, 220, 253, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);
  border: 1px solid rgba(195, 220, 253, 0.19);
  padding: 10px;
}
.profilebox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  color: #5a5757 ;
}
.sectionboxes1 {
  width: 90%;
  border-radius: 10px;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.sectionboxes2 {
  width: 90%;
  height: 15%;
  border-radius: 10px;  
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}
.sectionboxes2 .first{
  /* border-radius-l: inherit; */
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
  width: 30%;
  /* border: 2px solid blue; */
  height: 100%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* vertical-align: middle; */
}

.sectionboxes2 .second{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 70%;
  height: 100%;
  /* border: 2px solid green; */
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}
.sectionboxes3 {
  width: 90%;
  height: 15%;
  border: 2px solid red;
}
.sectionboxes4 {
  width: 90%;
  height: 15%;
  border: 2px solid red;
}
.sectionboxes5 {
  width: 90%;
  height: 15%;
  border: 2px solid red;
}
